<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unava.dia.dotapedia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.App"
        android:allowBackup="true"
        android:icon="@mipmap/test"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.Articles" />
        <activity android:name=".ui.activity.Article" />
        <activity android:name=".ui.activity.HeroConstructor" />
        <activity android:name=".ui.activity.ChooseHeroActivity" />
        <activity android:name=".ui.activity.DrawerInformationHeroes" />
        <activity android:name=".ui.activity.PlayerInformation"></activity>
    </application>

</manifest>